
<section class="cta mx-auto max-w-6xl px-1 sm:px-4" *ngIf="searchResult">
  <div *ngIf="isLoading" class="flex justify-center items-center py-12">
    <div class="spinner-border text-indigo-600" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="!isLoading" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" >
    <div *ngFor="let event of filteredEvents" class="bg-white rounded-2xl shadow-2xl overflow-hidden hover:shadow-3xl" >
      <div class="relative">
        <div class="absolute inset-0 bg-[#48bdc5]  opacity-75"></div>
        <img *ngIf="event.imageUrl" [src]="event.imageUrl" alt="Event Image" class="w-full h-64 object-cover object-center relative z-10">
        <img *ngIf="!event.imageUrl" src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw0fHxDb3NtaWMlMjBIZWFkcGhvbmVzfGVufDB8MHx8fDE3MjgxNTYwNTR8MA&ixlib=rb-4.0.3&q=80&w=1080" 
             alt="Default Event Image" class="w-full h-64 object-cover object-center relative z-10">
      </div>
      
      <div class="p-6">
        <h2 class="text-3xl font-extrabold text-gray-800 mb-2">{{ event.name }}</h2>
        <p class="text-gray-600 mb-4">{{ event.description}}{{ event.description?.length > 100 ? '...' : '' }}</p>
        
        <div class="flex items-center justify-between mb-4">
          <span class="text-2xl font-bold text-[#48bdc5] ">{{ event.price|currency }}</span>
          <div class="flex items-center">
            <i class="fa-solid fa-location-dot"></i>
            <span class="ml-1 text-gray-600">{{ event.venue }} </span>
          </div>
        </div>
        
        <div class="flex space-x-3">
          <button class="flex-1 text-[#48bdc5] text-[#48bdc5] font-bold py-3 px-4 rounded-lg hover:bg-indigo-200 transition duration-300"
                  (click)="routeToDetails(event.id)">
            View Details
          </button>
          
          <button *ngIf="!event.isBooked" 
                  class="btn-style-one"
                  (click)="bookNow(event)">
            Book Now
          </button>
          
          <div *ngIf="event.isBooked" 
               class="flex-1 bg-green-100 text-green-600 font-bold py-3 px-4 rounded-lg flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
            Booked
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!isLoading && events.length === 0" class="text-center py-12">
    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <h3 class="mt-2 text-xl font-medium text-gray-900">No events available</h3>
    <p class="mt-1 text-sm text-gray-500">There are no events available at the moment. Please check back later.</p>
  </div>
</section>

<section *ngIf="!searchResult" class="no-products-section mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 my-5">
  <div class="d-flex flex-column justify-content-center align-items-center text-center">
    <div class="fs-4  text-muted">We're sorry, but no Event match your search.</div>
    <p class="mt-2 text-secondary">Please try different keywords or adjust your filters.</p>
    <img src="/images/error.png" alt="No Product Available" class="no-products-image">
  </div>
</section>