<div id="preloader">
  <div class="loader"></div>
</div>
<section class="page-title text-center" style="background-image:url(images/background/3.jpg);">
  <div class="container">
    <div class="title-text">
      <h1>Events</h1>
      <ul class="title-menu clearfix">
        <li>
          <a href="/pages/home">home &nbsp;/</a>
        </li>
        <li>Events</li>
      </ul>
    </div>
  </div>
</section>

<div class="pt-5">
  <app-filter></app-filter>
</div>
<app-event-listings></app-event-listings>