<div id="preloader">
  <div class="loader"></div>
</div>
<section class="page-title text-center" style="background-image:url(images/background/3.jpg);">
  <div class="container">
      <div class="title-text">
          <h1>Events Details</h1>
          <ul class="title-menu clearfix">
              <li>
                  <a href="/pages/home">home &nbsp;/</a>
              </li>
              <li>Events Details</li>
          </ul>
      </div>
  </div>
</section>


<section class="cta mx-auto max-w-6xl px-1 sm:px-4">
  <div class="container mx-auto px-4 py-8">
    <div class="flex flex-wrap-mx-4">
      <div class="w-full md:w-1/2 px-4 mb-8">
      <img *ngIf="event.imageUrl" [src]="event.imageUrl" alt="Event Image" class="w-full h-auto rounded-lg shadow-md mb-4">
      <img *ngIf="!event.imageUrl" src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw0fHxDb3NtaWMlMjBIZWFkcGhvbmVzfGVufDB8MHx8fDE3MjgxNTYwNTR8MA&ixlib=rb-4.0.3&q=80&w=1080" 
           alt="Default Event Image" class="w-full h-auto rounded-lg shadow-md mb-4">
    </div>
      <div class="w-full md:w-1/2 px-4">
        <h2 class="text-3xl font-bold mb-2">{{event.name }}</h2>
        <p class="text-gray-600 mb-4">{{event.category }}</p>
        <div class="mb-4">
          <span class="text-2xl font-bold mr-2">{{event.price|currency }}</span>
        </div>
        <div class="flex items-center mb-4">
          <span class=" text-gray-600">PLace: {{event.venue}}</span>
        </div>
        <p class="text-gray-700 mb-6">{{event.description}}</p>

        <div class="mb-6">
          <h3 class="text-lg font-semibold mb-2">Event Date: {{event.eventDate | date}}</h3>
        </div>

        <div class="mb-6">
          <label for="quantity"
            class="block text-sm font-medium text-gray-700 mb-1">Tickets:{{event.availableTickets}}</label>
          <input type="number" id="quantity" name="quantity" min="1" value="1"
            class="w-12 text-center rounded-md border-gray-300  shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
        </div>

        <div class="flex space-x-4 mb-6">
          <button *ngIf="!event.isBooked" 
            class="bg-indigo-600 flex gap-2 items-center text-white px-6 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
            Book Now
          </button>
             <button *ngIf="event.isBooked" 
            class="bg-indigo-600 flex gap-2 items-center text-white px-6 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
            Booked
          </button>
        </div>
      </div>
    </div>
  </div>
</section>